dist/
docs/
src/
test/
app/
coverage/
.nyc_output/
*.md
!README.md
.github/
.vscode/
gulpfile.js
webpack.config.js
webpack.config.base.js
tsconfig*.json
.npmrc
.mocharc.*
Changelog.md
CHANGELOG.md
_config.yml
_layouts/
